/* styles.css */

/* Container for centering the form */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#ADD8E6;
  }
  
  /* Form styling */
  .formContainer {
    background-color: #ffffff;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
  }

  .content {
    text-align: center; /* Center the content horizontally */
  }
  
  /* Input group styling */
  .group {
    margin-bottom: 15px;
    margin-right: 5px;
  }
  
  .group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Button container styling */
  .button {
    display: flex;
    justify-content: flex-end;
  }


  .signInButton {
    background-color: rgb(240, 117, 117); /* Light gray for Sign In */
    padding: 10px 20px;
    margin-right: 5px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signUpButton {
    background-color: lightgreen; /* Light green for Sign Up */
    padding: 10px 20px;
    margin-right: 5px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .signInButton:hover {
    background-color:darkred; /* Light gray for Sign In */
    padding: 10px 20px;
    margin-right: 5px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .signUpButton:hover {
    background-color: darkgreen; /* Light green for Sign Up */
    padding: 10px 20px;
    margin-right: 5px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Error message styling */
  .errorMessage {
    color: red;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center; /* Center the error message */
  }
  