/* welcome.module.css */

/* Main container */
.welcome {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
  background-color: #ADD8E6;
}

.logo {
  width: 200px;
  height: 119px;
  object-fit: cover;
  cursor: pointer;
  position: fixed;
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.3s;
  overflow-y: auto;
  margin-top: 119px;
}

.sidebarOpen {
  left: 0;
  transition: left 0.3s;
}

/* Navigation links */
.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 2rem;
}

.navLinks li {
  margin-bottom: 15px;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.2s;
}

.navLinks a:hover {
  color: #007bff;
}

/* Content section */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Buttons section */
.button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  animation: fadeInUp 1s ease-in-out;
}

.actionButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.2s, transform 0.2s;
}

.actionButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Footer */
.footer {
  text-align: center;
  font-size: 0.8rem;
  color: #777;
  margin-top: 1rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
